{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="js/traducciones_jquery.js"></script>
<script src="js/formulario_jquery.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href= "{% static 'app/css/estilos.css' %}">
{% endblock %}


{% block contenido %}

<section id="Bienvenidos">
    <h2>MANTENTE INFORMADO DE LO QUE SUCEDE EN HAPPY PETS</h2>
    <p>Rellena este formulario para poder recibir informacion de nuevos productos y de happy pets que neseciten ayuda</p>
</section>

<div class="row">
    
    <div class="col-10 col-md-10 offset-md-1">
        <div class="card">
            <div class="card-body">
                <h5>Formulario Contacto</h5>
        
                <form action="" id="formulario_contacto", method="post">
        
                    {% csrf_token %}
                 
                    {{ form }}

                    <br>
                    <br>
                    <br>
                    <button class="botones" type="submit" id="guardar">Guardar</button>
                </form>

            </div>
            
        </div>

    </div>
</div>
<br>
<br>


<section id="info">
    <h3>FELICES HAPPY PETS</h3>
    <div class="contenedor">
        <div class="info-productos">
            <img src="{% static 'app/img/BLOG/blog_abajo1.jpg' %}" alt="">
            <h4>Los hermanos tom y luna con sus nuevos amigos</h4>
        </div>
        <div class="info-productos">
            <img src="{% static 'app/img/BLOG/blog_abajo2.jpg' %}" alt="">
            <h4>El serio luis con sus nuevos amigos</h4>
        </div>
        <div class="info-productos">
            <img src="{% static 'app/img/BLOG/blog_abajo3.jpg' %}" alt="">
            <h4>Chop encontro a su nuevo compañero</h4>
        </div>
        <div class="info-productos">
            <img src="{% static 'app/img/BLOG/blog_abajo4.jpg' %}" alt="">
            <h4>Kira encontro a su nueva mejor amiga</h4>
        </div>

    </div>

</section>

{% endblock %}