#blog h4{
    text-align: center;
}

#blog h3{
    text-align: center;

}

#blog .contenedor{
    /* ESTO NOS AYUDA A QUE LO QUE ESTA DENTRO DEL CONTENEDOR SEAN CAJAS FLEXIBLES ASI PODEMOS ACOMODAR MEJOR LAS COSAS */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 550px;
}